Repository projectmesa/mesa-geo, pull requests merged in 2024-08, with the labels that each got.

#217 Update tutorial and viz
  docs/tutorials/data/TorontoNeighbourhoods.geojson
  docs/tutorials/intro_tutorial.ipynb
  mesa_geo/visualization/geojupyter_viz.py
  mesa_geo/visualization/leaflet_viz.py
  tests/test_GeoJupyterViz.py
  tests/test_MapModule.py
Labels: enhancement

#223 docs: update conf.py to be in sync with mesa
  docs/conf.py
Labels: docs

#224 docs: remove api docs entry for removed visualization module
  docs/apis/visualization.rst
Labels: docs

#226 Update conf.py to fix build
  docs/conf.py
  docs/make.bat
Labels: ignore-for-release

#229 Fix kernel issue
  docs/Makefile
  docs/conf.py
  docs/tutorials/intro_tutorial.ipynb
  pyproject.toml
Labels: docs

#232 pre-commit: Use Python 3.10+ for pyupgrade
  .pre-commit-config.yaml
Labels: ignore-for-release

#222 update history and version number for v0.8.0
  HISTORY.md
  docs/conf.py
  mesa_geo/__init__.py
Labels: ignore-for-release

#234 Update intro_tutorial.ipynb
  docs/tutorials/intro_tutorial.ipynb
Labels: docs
